<form [formGroup]="servicesUsageGroup">

    <div class="card">

        <div class="card-body">

            <p>
                Werden Leistungen einer Auslandskranken- bzw. Rücktransportversicherung
                in Anspruch genommen?*
            </p>

            <div class="d-flex justify-content-between previous-next">
                <div [ngClass]="{'is-invalid-radio': this.insuranceBenefits.touched &&
                                                     this.insuranceBenefits.dirty &&
                                                     this.insuranceBenefits.invalid }">

                    <div class="form-check">
                        <input (click)="this.setListControlsValidators()"
                               class="form-check-input"
                               formControlName="insuranceBenefits"
                               id="insuranceBenefitsRadio1"
                               name="insuranceBenefits"
                               type="radio"
                               value="true">
                        <label class="form-check-label" for="insuranceBenefitsRadio1">
                            Ja, für folgende Person(en):
                        </label>

                        <div [hidden]="this.insuranceBenefits.value != 'true'"
                             class="form form-group">

                            <div *ngFor="let group of this.insurancePersonList.controls; let personIndex = index;"
                                 formArrayName="insurancePersonList">

                                <div formGroupName="{{personIndex}}">

                                    <label for="insurancePersonItem{{personIndex}}">
                                        <small> Vor- und Nachname(n) </small>
                                    </label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button (click)="addToList(personIndex + 1)"
                                                    class="delete-file-button"
                                                    type="button"
                                                    title="Eintrag hinzufügen"
                                            >
                                                <img class="close-icon" src="/o/tlrz-frontend-app/images/plus.svg" alt=""/>
                                            </button>
                                        </div>

                                        <input class="form-control"
                                               formControlName="person"
                                               id="insurancePersonItem{{personIndex}}"
                                               type="text">

                                        <div class="input-group-append">
                                            <button (click)="removeFromList(personIndex)"
                                                    class="delete-file-button"
                                                    type="button"
                                                    title="Eintrag entfernen"
                                                    [class.hide-button]="this.insurancePersonList.length <= 1"
                                            >
                                                <img class="close-icon"
                                                     src="/o/tlrz-frontend-app/images/papierkorb.svg" alt=""/>
                                            </button>
                                        </div>
                                    </div>

                                    <small *ngIf="group.get('person').touched &&
                                                  group.get('person').dirty &&
                                                  group.get('person').invalid"
                                           class="invalid-input-small">
                                        {{ this.errMsgService.getErrMsg(group.get('person')) }}
                                    </small>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-check">
                        <input (click)="this.removeListControlsValidators()"
                               class="form-check-input"
                               formControlName="insuranceBenefits"
                               id="insuranceBenefitsRadio0"
                               name="insuranceBenefits"
                               type="radio"
                               value="false">
                        <label class="form-check-label" for="insuranceBenefitsRadio0"> Nein </label>
                    </div>

                </div>

                <div [hidden]="this.insuranceBenefits.value != 'true'">
                    <div [isOpen]="true"
                         class="card-text"
                         containerClass="bs-tooltip-container-relative"
                         placement="bottom"
                         tooltip="Belege bitte vor dem Scannen kennzeichnen
                                  und Versicherungsansprüche nachweisen"
                         triggers="">
                    </div>
                </div>
            </div>

            <small *ngIf="this.insuranceBenefits.touched &&
                              this.insuranceBenefits.dirty &&
                              this.insuranceBenefits.invalid"
                   class="invalid-input-small">
                {{ errMsgService.getErrMsgByKey('chooseRadio') }}
            </small>
        </div>

    </div>

</form>
