.previous-next {
    width: 100%;
}

.block-center {
    text-align: center;
}

.block-bottom-padding {
    padding-bottom: 1rem;
}

.modal-custom-header {
    padding: 20px 20px 0 40px;
    align-items: normal;
    justify-content: center;
    color: #0089c1;
    border-bottom: none;
}

.modal-custom-body {
    padding: 5px 40px 25px;
}
