<div class="modal-header">

    <button (click)="bsModalRef.hide()" title="Schließen" class="custom-close-button" type="button">
        <img class="close-icon" src="/o/tlrz-frontend-app/images/close-24px.svg" alt="" />
    </button>

</div>

<div class="modal-body">

    Achtung! Eingegebene Daten und hochgeladene Dateien werden gelöscht, sollten Sie das Formular verlassen!

</div>

<div class="modal-footer">

    <button (click)="navigateToHome()" class="btn btn-primary" type="button"> Formular verlassen</button>

</div>
